body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-kowalski2-b: "Kowalski2 B";
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-35xl: 54px;
  --font-size-3xl: 22px;
  --font-size-lg: 18px;
  --font-size-15xl: 34px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-7xl: 26px;
  --font-size-65xl: 84px;

  /* Colors */
  --green: #033431;

  /* Gaps */
  --gap-21xl: 40px;
  --gap-11xl: 30px;
  --gap-35xl: 54px;
  --gap-3xs: 10px;

  /* Paddings */
  --padding-xl: 20px;

  /* border radiuses */
  --br-xl: 20px;
  --br-111xl: 130px;
}
