
body {
    margin: 0;
    padding: 0;
    background-image: url("Assets/Mahakali-Background.png"); /* Replace "background-image.jpg" with your actual image file */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .logo {
    width: 300px; /* Adjust the width as needed */
    margin-bottom: 20px; /* Adjust the margin as needed */
  }
  
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    background: linear-gradient(215.77deg, #FEF295 6.07%, #F3CC6E 13.98%, #AE7723 22.76%, #F3CC6E 35.94%, #D8AB50 43.85%, #C18E37 53.51%, #B37D28 61.42%, #AE7723 67.57%, #B07925 74.6%, #B7822B 79.87%, #C39137 84.27%, #D5A547 87.78%, #EBC05B 91.29%, #FFD86E 93.93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  